
.container{
    border: 2px solid brown;
    margin: 20px;
    padding: 20px;
}

ul{
    list-style-type: none;
    background-color: salmon;
    padding: 20px;
}

li{
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    border-bottom: 2px solid brown;
}
.counter{
    text-align: center;
    padding: 40px;
}
.counter button{
    margin: 10px;
    padding: 10px;
}

.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}